<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join the Club</h1>
    <form action="/join" method="POST">
    <label for="passcode">Enter the secret passcode:</label>
    <input type="text" name="passcode" required>
    <br>
    <button type="submit">Join</button>
    </form>
    
</body>
</html>