
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    margin: 2em;
    font-family: "Nunito", sans-serif;

}



.first-greeting{
    background:red;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    align-items: center;

}


.login-signup{
    display:flex;
    align-items: center;
    
}

.login-signup-item{
    padding: 0 1em;
}

.message-box{
    border:2px solid grey;
    margin:0.5em;
    padding: 1.5em;
    border-radius:15px;
}